  #gallery { float: left; width: 100%; min-height: 12em; }
  .gallery.custom-state-active { background: #eee; }
  .gallery li { float: left; width: 96px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
  .gallery li h5 { margin: 0 0 0.4em; }
  .gallery li a { float: right; }
  .gallery li a.ui-icon-zoomin { float: left; }
  .gallery li img { width: 100%;}
  .gallery li p {font-size: 14px;font-weight: bold;}
 
  #trash { float: left; width: 100%; min-height: 10em; padding: 1%; }
  #trash h4 { line-height: 16px; margin: 0 0 0.4em; }
  #trash h4 .ui-icon { float: left; }


  ul.gallery {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


  #gallery2 { float: left; width: 100%; min-height: 12em; }
  .gallery2.custom-state-active { background: #eee; }
  .gallery2 li { float: left; width: 96px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
  .gallery2 li h5 { margin: 0 0 0.4em; }
  .gallery2 li a { float: right; }
  .gallery2 li a.ui-icon-zoomin { float: left; }
  .gallery2 li img { width: 100%; }
 
  #trash2 { float: left; width: 100%; min-height: 10em; padding: 1%; }
  #trash2 h4 { line-height: 16px; margin: 0 0 0.4em; }
  #trash2 h4 .ui-icon { float: left; }



    ul.gallery2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


  #gallery3 { float: left; width: 100%; min-height: 12em; }
  .gallery3.custom-state-active { background: #eee; }
  .gallery3 li { float: left; width: 96px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
  .gallery3 li h5 { margin: 0 0 0.4em; }
  .gallery3 li a { float: right; }
  .gallery3 li a.ui-icon-zoomin { float: left; }
  .gallery3 li img { width: 100%;}
 
  #trash3 { float: left; width: 100%; min-height: 10em; padding: 1%; }
  #trash3 h4 { line-height: 16px; margin: 0 0 0.4em; }
  #trash3 h4 .ui-icon { float: left; }

    ul.gallery3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


  #gallery4 { float: left; width: 100%; min-height: 12em; }
  .gallery4.custom-state-active { background: #eee; }
  .gallery4 li { float: left; width: 96px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
  .gallery4 li h5 { margin: 0 0 0.4em;}
  .gallery4 li a { float: right; }
  .gallery4 li a.ui-icon-zoomin { float: left; }
  .gallery4 li img { width: 100%; }
 
  #trash4 { float: left; width: 100%; min-height: 10em; padding: 1%; }
  #trash4 h4 { line-height: 16px; margin: 0 0 0.4em; }
  #trash4 h4 .ui-icon { float: left; }



    ul.gallery4 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
